<p>こんにちは　<%= @resouce.email %>!</p>
<p>パスワードの再設定がリクエストされました。下のリンクをクリックしてパスワードを再設定してください</p>
<p><%= link=to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>心当たりがない場合は、メッセージは破棄してください。</p>
<p>上記のリンクにアクセスそて新しいパスワードを作成するまで、パスワードは変更されません。</p>